.parent {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    gap: 1rem;
    min-height: 100vh;
}



.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.logo {
    height: auto;
    width: 50px;
}

.mainContent {
    margin: 1rem;
    grid-column: 2;
    grid-row: 1/-1;
    grid-column-start: 2;
    grid-row-start: 1;
}