.dashboard-container{
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content auto auto;
    gap: 1rem;
    
}

.top-bar {
    display: flex;
    flex-direction: row;
    grid-column: span 2;
    height: fit-content;
    background-color: var(--bg);
}
.new-project-button,
.new-project-button:hover,
.new-project-button:active{
    border: none;
}

.top-bar input {
    flex: 1;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.75rem;
    background-color: hsl(0 0% 85%);
    border: none;
    box-shadow: inset 0 4px 4px 0 hsl(0 0% 0% / 0.25);
}
.top-bar button{
    margin-left: 2rem;
}

.top-bar > *{
    margin: 0.1rem;
}
.summary-container {
    background: var(--primary-gradient);
    border: solid 1rem white;
    padding: 2rem;
    color: var(--text-primary-bg);
}
.summary-container > *{
    margin: 1rem;
}